.cards_box {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 85px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card p {
    color: var(--orange);
}